body {
    margin: 0;
    overflow: hidden; // Needed for emoji animation
}

.blue-purple-gradient-bg {
    background: hsla(239, 100%, 86%, 1);
    background: linear-gradient(135deg, hsla(239, 100%, 86%, 1) 0%, hsla(187, 100%, 91%, 1) 100%);
    background: -moz-linear-gradient(135deg, hsla(239, 100%, 86%, 1) 0%, hsla(187, 100%, 91%, 1) 100%);
    background: -webkit-linear-gradient(135deg, hsla(239, 100%, 86%, 1) 0%, hsla(187, 100%, 91%, 1) 100%);
}

.floating-emoji {
    position: absolute;
    font-size: 3rem;
    opacity: .6;
    margin: 0;
    pointer-events: none;
}